
.sw-cms-preview-custom-page{position:relative;display:flex;justify-content:center;align-items:center;overflow:hidden}.sw-cms-preview-custom-page h2,.sw-cms-preview-custom-page p{text-transform:uppercase;color:#fff;margin-bottom:0}.sw-cms-preview-custom-page h2{font-family:"Playfair Display",serif;font-size:1.5rem}



