
.sw-cms-preview-route-pagelet{position:relative;display:flex;justify-content:center;align-items:center;overflow:hidden}.sw-cms-preview-route-pagelet h2,.sw-cms-preview-route-pagelet p{text-transform:uppercase;margin-bottom:0}



.torq-condition-customer-address-custom-field{display:grid;grid-template-columns:auto auto 1fr !important}.torq-condition-customer-address-custom-field .sw-form-field-renderer label,.torq-condition-customer-address-custom-field .sw-form-field-renderer .sw-field__label{display:none}.torq-condition-customer-address-custom-field .sw-field--checkbox{margin-left:16px;margin-top:auto;margin-bottom:auto}
.sw-customer-employee-detail__login-as-employee-container{display:block;text-align:right}
