{% block sw_cms_block_route_pagelet_preview %}
	<div class="sw-cms-preview-route-pagelet">
        <div class="sw-cms-preview-route-pagelet__heading-container">
			<h2>{{ $tc('sw-cms.elements.routePagelet.label') }}</h2>
		</div>
	</div>
{% endblock %}
