{% block sw_cms_block_custom_page_preview %}
	<div class="sw-cms-preview-custom-page">
        <div class="sw-cms-preview-custom-page__heading-container">
			<h2>Custom Page</h2>
		</div>
	</div>
{% endblock %}
