<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Category Filter</title>
        <input-field type="bool">
            <name>categoryFilter</name>
            <label>Enable Category Filter</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <title>In Stock Filter</title>
        <input-field type="bool">
            <name>instockFilter</name>
            <label>Enable In Stock Filter</label>
            <defaultValue>false</defaultValue>
        </input-field>
        
    </card>

</config>
