<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Filters</title>

        <input-field type="bool">
            <name>categoryFilter</name>
            <label>Enable Category Filter</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>instockFilter</name>
            <label>Enable In Stock Filter</label>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Password Strength</title>
        <input-field type="single-select">
            <name>passwordStrength</name>
            <label>Minimum Password Strength</label>
            <defaultValue>2</defaultValue>
            <helpText>We recommend at least medium. More information available at https://symfony.com/doc/current/reference/constraints/PasswordStrength.html</helpText>
            <options>
                <option>
                    <name>Weak</name>
                    <id>1</id>
                </option>
                <option>
                    <name>Medium</name>
                    <id>2</id>
                </option>
                <option>
                    <name>Strong</name>
                    <id>3</id>
                </option>
                <option>
                    <name>Very Strong</name>
                    <id>4</id>
                </option>
            </options>
        </input-field>
    </card>

    <card>
        <title>Restrict Admin By IP</title>

        <input-field type="bool">
            <name>restrictAdminByIP</name>
            <label>Restrict Admin by IP</label>
            <helpText>Enabling this will block admin access other than for the IPs you list below. Be certain to add your own IP!</helpText>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="textarea">
            <name>restrictAdminIPList</name>
            <label>Permitted IP Addresses</label>
            <helpText>Add one IP address per line</helpText>
            <defaultValue></defaultValue>
        </input-field>
    </card>

    <card>
        <title>Quick Add Autocomplete</title>

        <input-field type="bool">
            <name>quickAddAutocompleteEnabled</name>
            <label>Enable Quick Add Autocomplete</label>
            <helpText>The quick add on the cart page will autocomplete with part numbers matching the user's search.</helpText>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>quickAddStackableEnabled</name>
            <label>Quick Add Autocomplete Stackable</label>
            <helpText>When products are added to the cart via the autocomplete, their quantities will stack with other identical product numbers already in the cart.</helpText>
            <defaultValue>true</defaultValue>
        </input-field>
        
    </card>
</config>