{% block sw_cms_block_custom_page %}
	<div class="sw-cms-block-custom-page">

		<slot name="heading">
			{% block sw_cms_block_custom_page_slot_heading %}
            {% endblock %}
		</slot>
		
		<slot name="datatable">
			{% block sw_cms_block_custom_page_slot_datatable %}
			{% endblock %}
		</slot>

	</div>
{% endblock %}
