{% block sw_cms_block_route_pagelet %}

	<div class="sw-cms-block-route-pagelet">

        {% block sw_cms_block_route_pagelet_slot_pagelet %}
            {% set element = block.slots.getSlot('pagelet') %}
            {% if element %}
                {% sw_include '@Storefront/storefront/element/cms-element-' ~ element.type ~ '.html.twig' ignore missing %}
            {% endif %}
        {% endblock %}

	</div>

{% endblock %}