{% extends '@Administration/administration/error-404.html.twig' %}


{% block administration_title %}
    <title>Page not found</title>
{% endblock %}

{% block administration_content %}
  <div class="sw-error-404">
      <div class="sw-error-404__content">
        <div class="sw-error-404__hero">
          <h1 class="sw-error-404__title">404</h1>
        </div>

        <p style="margin-top:50px;" class="sw-error-404__description">We can’t seem to find the page you’re looking for. It might have been removed or is temporarily unavailable.</p>
      </div>
  </div>
{% endblock %}

